#ff{
    height:80vh;

    background-image: url('../../../Images/bagA.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    
}
#le{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ii{
    /* margin: 10vh; */
    border-radius: 2vh;
    /* border-right: 0.5vh solid rgb(12, 12, 70);
    border-bottom: 0.5vh solid rgb(12, 12, 70); */
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.88) 1vh 3vh 3vh -1vh;
    transition: transform .2s;
}
.ii:hover{
    transform: scale(1.02);
}

#les{
    flex: 1;
    margin-top: 15vh;
 
}


#lioo{
    position: absolute;
    height: 40vh;
    width: 100%;
    background-color: white;
    opacity: 0.6;
}
#pot{
    position: relative;

}

#ri{
display: flex;
flex-direction: column;
align-items: center;

}
#he{
font-size: 8vh;
color: rgb(0,24,58);
}
#para{
    margin-left: 5vh;
    margin-top: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.7vh;
    color: rgb(0,24,58);
    font-weight: 600;
    text-align: center;
    margin-right: 5vh;
}



@media  (min-width: 280px) and (max-width: 450px) {
    #ff{
        height:45rem;
        background-image: url('../../../Images/bagA.jpg');
        background-attachment: fixed;
        background-position: right center;
        background-repeat: no-repeat;
        background-size:auto;
        display: flex;
        flex-direction: column;
    
        
    }
    #le{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ii{
        /* margin: 10vh; */
        border-radius: 2vh;

        margin-top: 2vh;
        /* border-right: 0.5vh solid rgb(12, 12, 70);
        border-bottom: 0.5vh solid rgb(12, 12, 70); */
        height:13rem;
        box-shadow: rgba(0, 0, 0, 0.88) 1vh 3vh 3vh -1vh;
        transition: transform .2s;
    }

    #les{
        flex: 1;
        margin-top: 4vh;
     
    }
    
    
    #lioo{
        position: absolute;
        height: 27vh;
        width: 100%;
        background-color: rgb(192, 192, 192);
        opacity: 0.5;
    }
   

    #he{
    font-size: 3rem;
    color: rgb(0,24,58);
    }
    #para{
        margin-left: 1vh;
        margin-right: 1vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.8rem;
        color: rgb(0,24,58);
        font-weight: 600;
        text-align: center;
    }   
}


@media   (min-width: 450px) and (max-width: 1000px) {
    #ff{
        height:140vh;
        width: 100%;
        background-image: url('../../../Images/bagA.jpg');
        background-attachment: fixed;
        background-position: right center;
        background-repeat: no-repeat;
        background-size:auto;
        display: flex;
        flex-direction: column;
    
        
    }
    #le{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ii{
        /* margin: 10vh; */
        border-radius: 2vh;

        margin-top: 7vh;
        /* border-right: 0.5vh solid rgb(12, 12, 70);
        border-bottom: 0.5vh solid rgb(12, 12, 70); */
        height:40vh;
        box-shadow: rgba(0, 0, 0, 0.88) 1vh 3vh 3vh -1vh;
        transition: transform .2s;
    }

    #les{
        flex: 1;
        margin-top: 2vh;
     
    }
    
    
    #lioo{
        position: absolute;
        height: 65vh;
        width: 100%;
        background-color: rgb(192, 192, 192);
        opacity: 0.5;
    }
   

    #he{
    font-size: 7vh;
    color: rgb(0,24,58);
    }
    #para{
        margin: 1vh ,2vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:3vh;
        color: rgb(0,24,58);
        font-weight: 600;
        text-align: center;
    }        
    
}



