#pagoM{
    width: 100%;
    height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divSub{
    display:flex ;
    flex-direction: row;
    align-items: center;
    margin-top: 4vh;
}

#div1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgs{
    margin-top: 2vh;
     height: 40vh;
     width: 45vh;
     border: 2vh solid rgb(9, 43, 91);
     object-fit: cover;
     border-radius: 3vh;
     transition: transform .2s;
 }
 .imgs:hover{
    transform: scale(0.9);
 }


#e12{

margin-top: 5vh;
font-size: 4.5vh;
}

#div2{
    flex: 1;
}




@media  (min-width:  280px) and (max-width: 450px) {
    #pagoM{
        width: 100%;
        height: 51rem;
      display: flex;
      flex-direction: column;
      
    }
    
    #divSub{
        display:flex ;
        flex-direction: column;
        margin-top: 0vh;
    }
    
    #div1{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 5vh; */
        margin-top: 1.4vh;
    }

    .imgs{
        margin-top: 1vh;
         height:25vh;
         width: 18rem;
         border: 2px solid rgb(9, 43, 91);
         transition: none;
     }
     .imgs:hover{
         transform: none;
     }
    
    #e12{
    
    margin-top:1.9rem;
    font-size: 1.5rem;
    }

    .poi{
        color: rgb(22,36,102);
        margin: 1rem;
        font-size: 1rem;
    }
}



@media  (min-width: 450px) and (max-width: 1000px) {
    #pagoM{
        width: 100%;
        height: 130vh;
      display: flex;
      flex-direction: column;
      
    }
    
    #divSub{
        display:flex ;
        flex-direction: column;
        margin-top: 0vh;
    }
    
    #div1{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 5vh; */
        margin-top: 1.4vh;
    }

    .imgs{
        margin-top: 1vh;
         height:50vh;
         width: 48vh;
         transition: none;
     }
     .imgs:hover{
         transform: none;
     }
    
    #e12{
    
    margin-top:3vh;
    margin-left: 2vh;
    font-size: 4.5vh;
    }

    .poi{
        color: rgb(22,36,102);
        margin: 3vh;
        font-size: 2.4vh;
    }
    
    
}